body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Cor de fundo do corpo */
    color: #333; /* Cor do texto principal */
}

h1 {
    text-align: center;
    margin: 2% 0 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #008080; 
    font-size: 40px; 
}

h2 {
    margin-bottom: 1.5%;
    color: #006666; /* Cor do subtítulo */
    font-size: 20px; 
}

section#jogo-forca {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}
#formInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px; /* Adicione um espaçamento acima do #formInput, se desejado */
}

input[type="text"] {
    width: 25px;
    margin-top: 1%;
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 14px; 
}

#resInput[type="text"] {
    width: 50px;
    margin-top: 1%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 14px;
}

section.forca{
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: row;
}

section.forca img{
    margin: 2% 0;
    width: 30%;
}

img{
    width: 10%;
}
