body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 2% 0 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h2 {
    margin-bottom: 1.5%;
    color: #666;
}

section#jogo-forca {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

input[type="text"] {
    width: 25px;
    margin-top: 1%;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#resInput[type="text"] {
    width: 50px;
    margin-top: 1%;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ddd;
}

section.forca {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 2%;
}

section.forca img {
    margin: 2% 0;
    width: 20%;
}

img {
    width: 100%;
    margin-top: 2%;
}
